<!doctype html>
<html lang="pt-br" ng-app="agenda">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Agenda Js Spring</title>
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
    <script src="node_modules/angular/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="js/createController.js"></script>
    <script src="js/listController.js"></script>

</head>
<body>

<div class="container" ng-controller="createCtrl">

    <header>

        <div class="alert alert-success collapse" role="dialog" id="successCreateContact">
            <strong>Well done!</strong> Successfull Operation.
        </div>

        <div class="alert alert-warning collapse" role="dialog" id="failedCreateContact">
            <strong>Warning!</strong> Error in operation, please try again!.
        </div>


        <div class="jumbotron">

            <h1 class="display-4">AgendaX</h1>

            <div class="row">

                <div class="col-sm-5">

                    <p class="lead"> A Simple agenda to save contacts</p>

                    <button class="btn btn-primary" ng-click="openContactModal()">Create contact</button>
                    <button class="btn btn-warning" ng-click="getAllContacts()">Show all Contacts</button>

                </div>

                <div class="col-sm-7">
                    <form class="form-inline">
                        <input class="form-control mr-sm-1" type="search" ng-model="search" placeholder="Search contact"
                               aria-label="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit" ng-click="searchContact()">
                            Search
                        </button>

                        <button class="btn btn-primary ml-2 mr-2">Filter By</button>

                        <select class="custom-select" ng-model="searchOption" id="search-filter"
                                ng-init="searchOption='Name'">
                            <option value="Name">Name</option>
                            <option value="Relation">Relation</option>
                            <option value="Phone">Phone</option>
                        </select>
                    </form>


                </div>

            </div>


        </div>

        <div class="modal fade" tabindex="-1" role="dialog" id="modal-user">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modal-title">Create contact</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                        <form>
                            <div class="form-group">
                                <label for="name">Name</label>
                                <input class="form-control" ng-model="name" type="text" id="name">
                            </div>


                            <div class="form-group">

                                <label for="relationship-type">Relationship</label>

                                <select class="custom-select" ng-model="relation" ng-init="relation='Friend'"
                                        id="relationship-type">
                                    <option value="Friend">Friend</option>
                                    <option value="Family">Family</option>
                                    <option value="Work">Work</option>
                                </select>

                            </div>


                            <div class="form-group">
                                <label>Phone</label>
                                <input class="form-control" ng-model="phone" type="text" id="phone">
                            </div>
                        </form>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" ng-click="chooseCreateOrUpdate()">Save</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>

    </header>

    <section>


        <div class="row">

            <div class="col-sm-6" ng-repeat="contact in listContacts">

                <div class="card">

                    <div class="card-title d-flex justify-content-center">

                        <h3><span class="badge badge-secondary text-sm-center">{{contact.relation}}</span></h3>

                    </div>

                    <div class="card-body">
                        <h3>{{contact.name}}</h3>
                        <h4><span class="text-warning">{{contact.phone}}</span></h4>

                        <div class="text-sm-center">

                            <button class="btn btn-warning"
                                    ng-click="editModal(contact.id,contact.name,contact.relation,contact.phone)">Edit
                                Contact
                            </button>

                            <button class="btn btn-danger " ng-click="openQuestionModal()">
                                Delete Contact
                            </button>

                        </div>

                    </div>


                </div>

                <div class="modal fade" tabindex="-1" role="dialog" id="modal-question-delete">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Delete Contact</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>Do you have sure that want to delete this contact?</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" ng-click="deleteContact(contact.id)">Yes
                                </button>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>


        </div>


    </section>


</div>


</body>
</html>